---
title: Le Wagon - Middleman
---

<div class="container1">
  <%= image_tag "top3-edited.jpeg", width: "20%" %>
  <%= image_tag "top5-edited.jpeg", width: "20%" %>
  <%= image_tag "top3-edited.jpeg", width: "20%" %>
  <%= image_tag "top4-edited.jpeg", width: "20%" %>
  <%= image_tag "top5-edited.jpeg", width: "20%" %>
</div>

<div class="container2">
  <h2>Career Milestones</h2>

  <div class="row">
    <div class="col-sm-3 col-sm-3 mcenter" data-toggle="modal" data-target="#modal-milestone">
        <div class="mback"><%= image_tag "othregensburg.png", width: "130", class: "milestone" %></div>
    </div>
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "etf.png", width: "130", class: "milestone" %></div>
    </div>
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "mercedes.jpg", width: "130", class: "milestone" %></div>
    </div>
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "srefit.jpg", width: "130", class: "milestone" %></div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "payers.jpg", width: "130", class: "milestone" %></div>
    </div>
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "lewagon.png", width: "130", class: "milestone" %></div>
    </div>
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "medici.png", width: "130", class: "milestone" %></div>
    </div>
    <div class="col-sm-3 col-sm-3 mcenter">
        <div class="mback"><%= image_tag "medici.png", width: "130", class: "milestone" %></div>
    </div>
  </div>
  <p>Note: Click on the icons for detailed information</p>
</div>

<div class="container3">
  <h2>Charity Founder</h2>

  <div>
  <div id="videos">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/mTNmhr39PHc?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

    <iframe width="560" height="315" src="https://www.youtube.com/embed/t--tnKfGW9o?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>
  </div>

  <p>The “Student Charity Fight Night” is a student charity project that my friend Dennis and I established in Regensburg in 2015.
  <br>
  The concept is to bring 12 students into the ring and to let them fight for their individually
  chosen social projects. We figured that there are some students who put all their effort into
  a private social project, too often without being heard. Therefore, we chose boxing to create
  this magical atmosphere that this sport brings with it to give the few “exceptional” students
  a platform to advertise their social projects all over the city. We worked more than half a
  year uncountable hours on this project without any remuneration. We won a local box club
  training our “fighters”, we offered premium partnership to local TV and radio companies in
  order to spread the message, we produced teaser and trailer videos without any pre-
  knowledge and we set up a crowdfunding campaign with free vouchers from Regensburg’s
  restaurateurs for every euro that was donated.
  <br>
  Our amazing participants trained for weeks to support their social projects, e.g. helping
  poor kids, refugees or people with cancer. One participant even built a school in Africa.
  <br>
  Fortunately, the event was a considerable success and more than €4.000 were raised. As a result, we  founded the “Regensburg Charity e.V.” which is now organizing the event every year. In 2016, the club managed to increase the donation sum to more than €10.000 and to attract almost 1.000 visitors. (All videos of 2015 can be found on: (https://www.youtube.com/channel/UC_5TCVIWqnf0l0uEnoTlTjA)
  </p>
  </div>
</div>

<div class="container4">
  <h2>Some life impressions</h2>
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
      <li data-target="#myCarousel" data-slide-to="3"></li>
      <li data-target="#myCarousel" data-slide-to="4"></li>
      <li data-target="#myCarousel" data-slide-to="5"></li>
      <li data-target="#myCarousel" data-slide-to="6"></li>
      <li data-target="#myCarousel" data-slide-to="7"></li>
      <li data-target="#myCarousel" data-slide-to="8"></li>
      <li data-target="#myCarousel" data-slide-to="9"></li>
      <li data-target="#myCarousel" data-slide-to="10"></li>
      <li data-target="#myCarousel" data-slide-to="11"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <%= image_tag "abiturrede.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "nature2.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "consulting.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "nature1.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "fightnight.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "football.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "freelatics.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "friends.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "geruempel.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "stipendium.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "nature3.jpeg", width: "400px" %>
      </div>
      <div class="item">
        <%= image_tag "nature4.jpeg", width: "400px" %>
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<div class="container5">
  <h2>Some more things you should know about me...</h2>
  <div id="interest-box">
    <div class="interest">
      <%= image_tag "politics.png", width: "150" %>
      <h4>I don't dodge a political discussion</h4>
    </div>
    <div class="interest">
      <%= image_tag "education.png", width: "150" %>
      <h4>I want to reform the German education system</h4>
    </div>
    <div class="interest">
      <%= image_tag "wine.png", width: "150" %>
      <h4>I love redwine, especially from Austria and Italy</h4>
    </div>
    <div class="interest">
      <%= image_tag "bitcoin.png", width: "150" %>
      <h4>I invest in cryptocurrencies</h4>
    </div>
    <div class="interest">
      <%= image_tag "rapper.png", width: "150" %>
      <h4>I listen to rap music and text lyrics myself</h4>
    </div>
  </div>
</div>

<div id="modal-milestone" class="modal fade bs-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel">
  <div class="modal-dialog modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h3 class="modal-title">University of Applied Sciences Regensburg</h3>
        <h5 class="modal-title">2011 - 2015</h5>
      </div>
      <div class="modal-body">
        <p>Degree: Bachelor of Arts in European Business (GPA: 1.3 = Top 5%)</p>
        <p>Special Achievements: Double Degree from Oxford Brookes University (First Honors Degree)</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
