---
title: Le Wagon - Middleman
---

<div class="container3">
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
</div>

<div class="container1">

</div>

<div class="container2">
    <%= image_tag "logo.png", width: "200" %>
      <%= link_to "More about this template", "about.html" %>
</div>

<div class="container1">

</div>

<div class="container2">
    <%= image_tag "logo.png", width: "200" %>
      <%= link_to "More about this template", "about.html" %>
</div>
