---
title: Le Wagon - Middleman
---

<div class="container1">
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
  <%= image_tag "stephan.jpg", width: "20%" %>
</div>

<div class="container2">

</div>

<div class="container3">
  <h2>Charity Founder</h2>

  <div id="videos">

  <iframe width="560" height="315" src="https://www.youtube.com/embed/mTNmhr39PHc?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  <iframe width="560" height="315" src="https://www.youtube.com/embed/t--tnKfGW9o?rel=0" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen></iframe>

  </div>

  <p>Die Students Charity Fight Night ist ein soziales Event, bei dem 12 Studenten in 6 Boxk채mpfen gegeneinander antreten, um f체r ihreausgew채hlten sozialen Projekte Spendengelder zu erk채mpfen. Hast du Lust, als Teilnehmer dabei zu sein? Dann nichts wie los zur Anmeldung!</p>
</div>

<div class="container4">
  <h2>Some more things you should know about me...</h2>
  <div id="interest-box">
    <div class="interest">
      <%= image_tag "politics.png", width: "150" %>
      <h4>I don't dodge a political discussion</h4>
    </div>
    <div class="interest">
      <%= image_tag "education.png", width: "150" %>
      <h4>I want to reform the German education system</h4>
    </div>
    <div class="interest">
      <%= image_tag "wine.png", width: "150" %>
      <h4>I love redwine, especially from Austria and Italy</h4>
    </div>
    <div class="interest">
      <%= image_tag "bitcoin.png", width: "150" %>
      <h4>I invest in cryptocurrencies</h4>
    </div>
    <div class="interest">
      <%= image_tag "rapper.png", width: "150" %>
      <h4>I listen to rap music and text lyrics myself</h4>
    </div>
  </div>
</div>

<div class="container5">
    <%= image_tag "logo.png", width: "200" %>
      <%= link_to "More about this template", "about.html" %>
</div>
